﻿@page
@model Endor.BGEngine.Core.Web.Pages.TasksModel
<div>
  <ul>
    @foreach (int classTypeID in Enum.GetValues(typeof(Endor.Models.ClassType)))
    {         
      <li>

        <a href="/task/index/1/@classTypeID">Index @(Enum.GetName(typeof(Endor.Models.ClassType), classTypeID)) (@classTypeID)</a>

      </li>

    }


  </ul>
</div>